<!doctype html>
<html>
  <head>
    <title>Micro Blog</title>

    <!--
     - Include you stylesheets and javascripts in here
     - Load from /assets/javascripts and /assets/stylesheets  
     - Try to avoid inline javascript and css if you can
    -->

  </head>
  <body>
    <h1>Micro Blog</h1>

    <!--
      TODO: Build the front-end for the micro-blog using a front-end framework
            of your choice.

            Suggested approach:
            - Use jquery to make ajax requests to the API endpoints in src/index.php
            - Use the Bootstrap front-end framework for css and any of the js
              components it includes as you see fit
                - In particular Bootstrap's grid system for layout

      OPTIONAL: You may make use of any extra features of the TWIG template engine
                if you wish (see: http://twig.sensiolabs.org/)

    -->


  </body>
</html>
